DB_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mi_password_seguro
POSTGRES_DB=kexel_db
DB_PORT=5432

DATABASE_DSN="host=$DB_HOST user=$POSTGRES_USER password=$POSTGRES_PASSWORD dbname=$POSTGRES_DB port=$DB_PORT sslmode=disable"

JWT_SECRET=super_secreto_kexel
